{% extends "listz/base.html" %}
{% load static %}
{% block head_link %}
<link rel="stylesheet" href="{% static 'css/auth/login/login.css' %}">
{% endblock %}

{% load i18n %}
{% load account socialaccount %}


{% block content %}
<div class='split left'>
<div class="login_container">
    <h1>Password Reset</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="login">
        {% csrf_token %}
        {% for field in form.visible_fields %}
            <span id='formfield'>{{field}}</span>
        {% endfor %}

        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-error">
                        <strong>{{error|escape}}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-error">
                        <strong>{{ error|escape }}</strong>
                    </div>
    
                {% endfor %}
        {% endif %}

        {% for hidden in form.hidden_fields %}
            {{hidden}}
        {% endfor %}
        <button class="primaryAction" type="submit" value="Reset My Password">Reset My Password</button>
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}
</div>
</div>