{% load static %}
<div id="edit_profile_modal">
    <!-- Modal content -->
    <div class="modal_content">
        <button class="closeButtonX1">&times;</button>
        <div class='split left'>
            <div class="login_container">
                <h1>Update Profile</h1>
                <div class="image_container">
                    <img class="profile_image_update" src={{form.initial.profile_picture.url}}>
                </div>
                <form method="POST" action="{% url 'edit-profile' %}" id=profile_update_form class="login"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                    <span id='formfield'>{{field}}</span>
                    {% endfor %}

                    {% if form.errors %}
                    {% for field in form %}
                    {% for error in field.errors %}
                    <div class="alert alert-error">
                        <strong>{{error|escape}}</strong>
                    </div>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <div class="alert alert-error">
                        <strong>{{ error|escape }}</strong>
                    </div>

                    {% endfor %}
                    {% endif %}

                    {% for hidden in form.hidden_fields %}
                    {{hidden}}
                    {% endfor %}
                    <button class="primaryAction" type="submit" value="Reset My Password">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>